papers/A-Template-Based-Design-Methodology-for-Graph-Parallel-Hardware-Accelerators/paper.pdf
papers/Energy-Efficient-Architecture-for-Graph-Analytics-Accelerators/paper.pdf
papers/System-Simulation-with-gem5-and-SystemC/paper.pdf
papers/The-Graph-Algorithm-Iron-Law/gail.pdf
papers/Locality-Exists-In-Graph-Processing/locality.pdf
papers/Productivity-Portability-Performance-Data-Centric-Python/2107.00555.pdf
papers/iPUG-Accelerating-Breadth-First-Graph-Traversals-using-Manycore-Graphcore-IPUs/iPUG-BFS.pdf
papers/PERKS-Persistent-Kernels-for-Iterative-Memory-bound-GPU-Applications/
papers/Lightning-Scaling-the-GPU-Programming-Model-Beyond-a-Single-GPU
