A-Template-Based-Design-Methodology-for-Graph-Parallel-Hardware-Accelerators/paper.pdf
Energy-Efficient-Architecture-for-Graph-Analytics-Accelerators/paper.pdf
System-Simulation-with-gem5-and-SystemC/paper.pdf
The-Graph-Algorithm-Iron-Law/gail.pdf
Locality-Exists-In-Graph-Processing/locality.pdf
Productivity-Portability-Performance-Data-Centric-Python/2107.00555.pdf
