A-Template-Based-Design-Methodology-for-Graph-Parallel-Hardware-Accelerators/paper.pdf
Energy-Efficient-Architecture-for-Graph-Analytics-Accelerators/paper.pdf
System-Simulation-with-gem5-and-SystemC/paper.pdf
